<div class="col-lg-12 content-right">


  <!---------------------Tab Section -------------------------->

  <div class="page-content meta-tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button class="nav-link" [routerLink]="['/summary']" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Summary View
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/detailed2']" routerLinkActive="active">
          Detailed View
        </a>
      </li>
    </ul>

    <div class="tab-content" [@pageAnimation]> <!-- Apply animation here -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!---------------------End Tab Section -------------------------->

</div>